div.sphinxsidebar ul {
    margin: 10px 0;
    padding: 0;
    color: #000;
    text-indent: -20px;
    margin-left: 20px;
    list-style: none;
}

div.sphinxsidebar ul ul {
    margin: 10px 0;
    padding: 0;
    color: #000;
    text-indent: -20px;
    margin-left: 20px;
    list-style: none;
}

div.sphinxsidebar {
    overflow: hidden !important;
    font-size: 100%;
    word-wrap: break-word;
    width: 300px;
    max-width: 300px;
    list-style: none;
}
